<a href="https://colab.research.google.com/github/BrightChanges/Unit-3/blob/main/codingLunar_Kien_Le_Trung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ### 1. In a town there are X men, each man has X wives and each wife has X kids, you should print the total T number of people in this town.
Example
Input
7
Output
399

In [1]:
def TownPopulationTotal(A):
    output = A + A*A + A*A*A

    return output



test1 = 7

print(TownPopulationTotal(test1))

399

### 2.For decode it follow rules:
### 1) Convert each characters to integer
### 2) Make the sum of each characters
### 3) Multiply it by 2
### 4) Replace all odd numbers by "@"
### 5) Add " thnx tanaka"

Example
Input
5121321321321321321
Output
@8 thnx tanaka

In [30]:
def Converter(S):
  higher_alphabets = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
  lower_alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
  integers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]
  decoded = []
  total = 0
  total_x2 = 0
  total_after_replace_odd_numbers= []
  
#string in Python is immutable/cannot be changed.
#1) Convert each characters to integer:

  index = 0
 
  for i in range(len(S)):
  
    for x in range(len(higher_alphabets)):
      if S[i] == higher_alphabets[x] or S[i] == lower_alphabets[x] :
        index = x
        decoded.append(integers[index])
  
  #the coded below convert the decoded list into string:
  string_decoded = ''.join(str(e) for e in decoded)
  print("1) Convert each characters to integer: {}".format(string_decoded))

  for g in range(len(decoded)):
    total += decoded[g]
  print("2) Make the sum of each characters: {}".format(total))

  for h in range(len(decoded)):
    decoded[h] = decoded[h]*2
    total_x2 += decoded[h]

  print("3) Multiply it by 2: {} ".format(total_x2))

  str_total_x2 = str(total_x2)
  map_total_x2 = map(int,str_total_x2)
  list_total_x2 = list(map_total_x2)

  for k in range(len(list_total_x2)):
    if list_total_x2[k]%2==1:
      list_total_x2[k]="@"
  
  
  # print("4) Replace all odd numbers by @: {}".format(list_total_x2))

  string_decoded2 = ''.join(str(e) for e in list_total_x2)
  print("4) Replace all odd numbers by @: {}".format(string_decoded2))

  final_result = string_decoded2 + "thnx tanaka"
  print("5) Added 'thnx tanaka': {}".format(final_result))

test1 = 'Elephant'

Converter(test1)

1) Convert each characters to integer: 512516811420
2) Make the sum of each characters: 81
3) Multiply it by 2: 162
4) Replace all odd numbers by @: @62
5) Added 'thnx tanaka': @62thnx tanaka

### 3. A number that is not a whole number can be either a decimal, fraction, or percentage. A decimal is a string that has a '.', a fraction has a '/', and a percentage ends with a '%'. Output all three ways to show the number not_whole.
### The order should be decimal, fraction, and then percentage.

### The fraction is not simplified fraction (it's denominator is 100). The decimal for an integer should be written with exactly one 0 after the decimal point.

Example:
If not_whole is 25%, you know that it is a percentage and you should output:
0.25
25/100
25%

In [45]:
def Not_whole(A):

  # index = 0
  decimal = ""
  percentage = ""
  fraction = ""

#check if the number is a percentage:
  if A[-1] == '%':
    decimal = str(int(A[0:-1])/100)
    fraction = "{}/100".format(A[0:-1])
    percentage = A

#check if the number is a decimal:
  elif A[1] == '.':
    decimal = A
    fraction = "{}/100".format(A[2:])
    percentage = A[2:] + "%"

#check if the number is a fraction:
  for i in range(len(A)):
    if A[i]=="/":
      decimal = str(int(A[0:i])/100)
      fraction = "{}/100".format(A[0:i])
      percentage = A[0:i] + "%"
  
  print(decimal)
  print(fraction)
  print(percentage)

test1 = "25/100"
test2 = "0.25"
test3 = "25%"

Not_whole(test1)
Not_whole(test2)
Not_whole(test3)

0.25
25/100
25%
0.25
25/100
25%
0.25
25/100
25%